*{
    box-sizing: border-box;
    font-family: cursive;
}

.row{
    width: 100%;
}
.relative{
    position: relative;
    top: 0px;
    right: 0px;
}
h1{
    text-align: center;
}
.absolute{
    position: absolute;
    top: -17px;
    right: 0px;
    font-size: 20px;
    font-weight: bolder;
    width: 100px;
    text-align: center;
    background-color: tomato;
}

section{
    width: 90%;
    background-color: gray;
    border: 5px solid black;
}

article{
    font-size: 16px;
    margin: 30px;
    font-family: Cursive;
}

#pizza{
    background-color: red;
}

#burger{
    background-color: steelblue;
    color: white;
}

#taco{
    background-color: springgreen;
}

@media (min-width: 992px){
    .col-lg-1, .col-lg-2,.col-lg-3,.col-lg-4,.col-lg-5,.col-lg-6,.col-lg-7,.col-lg-8,.col-lg-9,.col-lg-10,.col-lg-11,.col-lg-12{
        float: left;
        margin-bottom: 2px;
    }
    .col-lg-4{
        width: 33.33%;
    }
}

@media (min-width: 768px) and (max-width: 991px){
    .col-md-1, .col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-6,.col-md-7,.col-md-8,.col-md-9,.col-md-10,.col-md-11,.col-md-12{
        float: left;
        margin-bottom: 2px;
    }
    .col-md-6{
        width: 50%;
    }
}

@media (min-width: 766px){
    .col-sm-1, .col-sm-2,.col-sm-3,.col-sm-4,.col-sm-5,.col-sm-6,.col-sm-7,.col-sm-8,.col-sm-9,.col-sm-10,.col-sm-11,.col-sm-12{
        float: left;
        margin-bottom: 2px;
    }

}